{{!-- views/auth/login.hbs --}}
<div class="card">


<div id="form">
  <h2>WELCOME BACK!</h2>
  <form action="/login" method="POST">
    <label for="input-email">Email:
    <input type="text" name="email" placeholder="Your Email" /> </label>

    <label for="input-password">Password: 
    <input type="password" name="password" id="pwd" placeholder="********" /><i class="fas fa-eye" id="eye"></i> </label> </div></div>

    <button class = "btn-brown" type="submit">Login</button>

    </form>
  
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
        <section id="linkbuttons">
        <a class="singup-btnlink" href='/signup'>Sign up</a></section>
  

