<a href='/' id='h3-inactive'>Home ></a><a href='/about' id='h3-active'> About Us</a>
<img src='/images/aboutUs.png' id='aboutUs-img'>
<h3>Slay & Stay Vintage is run by Tran from Paris, France. </h3>   
<p>
    “I started Slay & Stay Vintage because I really enjoy vintage clothing. It’s so much fun to find unique pieces and to style them with other items to create different outfits. 

At first I just bought vintage clothing for myself, but I’ve discovered it’s also a lot of fun to help other people finding their own unique style!”
My name is Tran VAN. This is a website made by me and Karina Gonzalez for our project when enrolled at Ironhack Bootcamp. Passionate about sustainable fashion, I dream of having a business that supports the community that loves fashion and also loves this planet. Fashion is the second most polluting industry in the world after Oil. And we have enough clothes for 7 billions people for the next century. By buying second hand clothes, we will slow down consumption then production. This website will be used as a commercial site when my business will be launched. Hope you enjoy the visit!</p>
