<a href='/' id='h3-inactive'>Home ></a><a href='/contactus' id='h3-active'> Contact Us</a>

<p>
  If you have any questions, please contact us at tran@slayandstayvintage.com or through Instagram @slayandstay.vintage.

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna blandit malesuada urna amet dignissim malesuada amet luctus tristique. Posuere dignissim morbi varius libero. Faucibus sapien lacus, luctus rhoncus lectus consequat sit. Sagittis, felis non ut pellentesque fermentum.
</p>