<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<br>
          <a href="/shipping">shipping</a> <span> | </span>
          <a href="/returns">returns</a> <span> | </span>
          <a href="/terms-and-conditions">Terms and Conditions</a> <span> | </span>
          <a href="/contact-us">Contact Us</a> <span> | </span>