<img src='./images/homepage.JPG'>
<h2>NEW ARRIVALS</h2>
{{!-- PHOTO ANIMATION, CLICK ON THE ARROW TO SEE EACH PRODUCT --}}
    {{!-- 1st  photo of each product in Model Products --}}
{{!-- <a href='/products/{{._id}}'><img src='{{.imageURL.[0]}}'></a> --}}
{{!-- arrow left and right  --}}
<button id='arrow-left'><</button>
<button id='arrow-right'>></button>
<h2>THE ESSENTIALS</h2>
<a href='/products'><img src='./images/LANDPAGE.png'>shop now</a>
<section class='concept'>
    <h2>A CLOSET THAT SLAYS, STAYS</h2>
    <div class='features'>
    <img src='./images/minimalist.jpg'><h3>MINIMALIST STYLE</h3>
    </div>
    <div class='features'>
    <img src='./images/ethical.png'><h3>ETHICAL FASHION</h3>
    </div>
    <div class='features'>
    <img src='./images/material.png'><h3>HIGH QUALITY MATERIAL</h3>
    </div>
</section>

<section id='reviews'>
    <div>
        {{!-- <img src=''> User profile pic --}}
    </div>
    <div class='review-content'>
        <ul class='stars'>
            <li class='star-active'><img src='./images/star.png'></li>
            <li class='star-active'><img src='./images/star.png'></li>
            <li class='star-active'><img src='./images/star.png'></li>
            <li class='star-active'><img src='./images/star.png'></li>
            <li class='star-unactive'><img src='./images/star.png'></li>
        </ul> 
        {{!-- <h4 class='review-headline'>{{review.headline}}</h4> --}}
        {{!-- <p>{{review.text}}</p> --}}
    </div>
</section>
<section id='info'>
    <div class='sub-info'>
    FREE SHIPPING IN FRANCE
        on orders over 79 €
    </div>
      <div class='sub-info'>
     RETURNS AND REFUND
        15 days to try on
    </div>
      <div class='sub-info'>
    SECURE PAYMENT
    via Debit/Credit Card or Paypal
    </div>
</section>
<section id='info-contact'>
    <p>
HELP & INFORMATION
Help
Track order
ABOUT SLAY&STAY
About us
Find us on other platforms
    </p>
    <img class='platform-logo'src='https://i.pinimg.com/originals/1a/2a/80/1a2a80112ef4d3e431289f09d568f512.png'>
    <img class='platform-logo'src='https://pbs.twimg.com/profile_images/935851796312010758/In_Sw_1P.jpg'>
    <img class='platform-logo'src='https://img.apksum.com/91/com.depop/2.98/icon.png'>
</section>
