<section id='homepage'>
<a href='/products'><img src='./images/frame.png'></a>
<h2>NEW ARRIVALS</h2>
{{!-- PHOTO ANIMATION, CLICK ON THE ARROW TO SEE EACH PRODUCT --}}
    {{!-- 1st  photo of each product in Model Products --}}
{{!-- <a href='/products/{{._id}}'><img src='{{.imageURL.[0]}}'></a> --}}
{{!-- arrow left and right  --}}
<div id='displayImg'>
    <a href='/products/{{theProduct._id}}'><img class='imageDisplay'src='{{theProduct.pictureURL.[0]}}'></a>
</div>
<h2 id='title'>the essentials </h2>
<a class='calltoaction' href='/products'><img src='./images/LANDPAGE.png'><p>shop now</p></a>
<section class='concept'>
    <h2>A CLOSET THAT SLAYS, STAYS</h2>
    <div class='features'>
    <img src='./images/minimalist.jpg'><h3>MINIMALIST STYLE</h3>
    </div>
    <div class='features'>
        <h3>ETHICAL FASHION</h3>
    <img src='./images/ethical.png'>
    </div>
    <div class='features'>
    <img src='./images/material.png'><h3>HIGH QUALITY <br> MATERIAL</h3>
    </div>
</section>

</section>
<section id='info-homepage'>
    <div class='sub-info'>
    FREE SHIPPING IN FRANCE<br>
        on orders over 79 €
    </div>
      <div class='sub-info'>
     RETURNS AND REFUND<br>
        15 days to try on
    </div>
      <div class='sub-info'>
    SECURE PAYMENT<br>
    via Debit/Credit Card or Paypal
    </div>
</section>
<section id='info-contact'>
    <p>
HELP & INFORMATION<br>
<a href='/contactus'>Help</a><br>
<a href='/aboutus'>About us</a><br>
Find us on other platforms
    </p>
    <a href="https://www.instagram.com/slayandstay.vintage/"><img class='platform-logo'src='https://lecercledeseconomistes.fr/wp-content/uploads/2019/09/instagram-icon-300x300.png'></a>
    <a href="https://www.instagram.com/slayandstay.vintage/"><img class='platform-logo'src='https://pbs.twimg.com/profile_images/935851796312010758/In_Sw_1P.jpg'></a>
    <a href="https://www.instagram.com/slayandstay.vintage/"><img class='platform-logo'src='https://img.apksum.com/91/com.depop/2.98/icon.png'></a>
</section>

</section>

{{!-- ////////////MENU HAMBURGER////////////////////// --}}

{{!-- <br>
          <a href="/shipping">shipping</a> <span> | </span>
          <a href="/returns">returns</a> <span> | </span>
          <a href="/terms-and-conditions">Terms and Conditions</a> <span> | </span>
          <a href="/contact-us">Contact Us</a> <span> | </span> --}}

