<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>

<section id='top-nav-bar'>
 <img src='/images/icon/hamburger.png'>
 <a href='/'>
  <img src='/images/icon/logo.png'>
 </a>
  <img src='/images/icon/search.png'>
    <img src='/images/icon/bag.png'>

</section>
      <nav id='auth-navBar'>
        <a href="/signup">Signup</a> <span> | </span>
        <a href="/login">Login</a> <span> | </span>
        <a href="/logout">Logout</a>   
      </nav>
  {{{body}}}
<section id='nav-bar'>
  <div>
    <a href='/products'><img src='/images/icon/shop.png'></a>
    <p>shop</p>
  </div>
  <div>
    <a href='/shoppingcart'><img src='/images/icon/bag.png'></a>
    <p>bag</p>
  </div>
  <div>
    <a href='/wishlist'><img src='/images/icon/heart.png'></a>
    <p>wishlist</p>
  </div>
  <div>
    <a href='/userprofile'><img src='/images/icon/user profile.png'></a>
    <p>profile</p>
  </div>
</section>
  <script src="/javascripts/script.js"></script>

</html>