<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>

<section id='top-nav-bar'>
<nav  role="navigation">
   <div id="menuToggle">
      <input type="checkbox" />
      <span></span>
      <span></span>
      <span></span>
      <ul id="menu">
      <a href="/products"><li>Shop</li></a>
      <a href="/about"><li>About Us</li></a>
      <a href="/contactus"><li>Contact</li></a>
      <a href="/shipping"><li>Shipping Info</li></a>
      <a href="/returns"><li>Returns</li></a>
      <a href="/termsandconditions"><li>Terms & Conditions</li></a>
      <a href="/signup"><li>Sign up</li></a>
      <a href="/login"><li>Log in</li></a>
      <a href="/logout"><li>Log out</li></a>
      <a href="https://www.instagram.com/slayandstay.vintage/"><li><img src='/images/icon/instagram.png'></li></a>
    </ul>
   </div>
</nav>


 <a href='/'>
  <img src='/images/icon/logo.png'>
 </a>
<div id='right-bar'>
  <a href='/search'><img src='/images/icon/search.png'></a>
  <a href='/shoppingcart'><img src='/images/icon/bag.png'></a> 
</div>


</section>
  {{{body}}}
<section id='bottom-nav-bar'>
  <div class='sub-bottom-nav-bar'>
    <a href='/products'><img src='/images/icon/shop.png'></a>
    <p>shop</p>
  </div>
  <div class='sub-bottom-nav-bar'>
    <a href='/shoppingcart'><img src='/images/icon/bag.png'></a>
    <p>bag</p>
  </div>
  <div class='sub-bottom-nav-bar'>
    <a href='/wishlist'><img src='/images/icon/heart.png'></a>
    <p>wishlist</p>
  </div>
  <div class='sub-bottom-nav-bar'>
    <a href='/userprofile'><img src='/images/icon/user profile.png'></a>
    <p>profile</p>
  </div>
</section>
  <script src="/javascripts/script.js"></script>

</html>