<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
<section id='top-nav-bar'>
 <img src='/images/icon/hamburger.png'>
 <img src='/images/icon/logo.png'>
  <img src='/images/icon/search.png'>
    <img src='/images/icon/bag.png'>
</section>
  {{{body}}}
<section id='nav-bar'>
  <div>
    <img src='/images/icon/shop.png'>
    <p>shop</p>
  </div>
  <div>
    <img src='/images/icon/bag.png'>
    <p>bag</p>
  </div>
  <div>
    <img src='/images/icon/heart.png'>
    <p>wishlist</p>
  </div>
  <div>
    <img src='/images/icon/user profile.png'>
    <p>profile</p>
  </div>
</section>
  <script src="/javascripts/script.js"></script>
</body>
</html>