<a href='/' class='h3-inactive'>Home ></a><a href='/userprofile' class='h3-active'> Returns</a>
<section id='returns'>
  <p>
    We don’t usually accept returns, but if there is a problem with the product, please do contact us so we can see if we can find a solution. You can contact us at tran@slayandstayvintage.com.
  </p>
</section>
