<a href='/' class='h3-inactive'>Home ></a><a href='/shipping' class='h3-active'> Shipping</a>
<section id='shipping'>
<p>
  We ship our clothes by Mondial Relay or Colissimo. You can choose to have them sent by registered mail if you’d like to have some extra security. The shipping costs depend on the country you live in. When you add a piece of clothing to your cart, the shipping costs will be calculated automatically. 
</p>
</section>
