<a href='/' class='h3-inactive'>Home ></a><a href='/termsandconditions' class='h3-active'> Terms and conditions </a>
<section id='termsandcondition'>
  <p>
    These are the terms and conditions for purchasing clothing and/or accessories at Slay & Stay Vintage. 

  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna blandit malesuada urna amet dignissim malesuada amet luctus tristique. Posuere dignissim morbi varius libero. Faucibus sapien lacus, luctus rhoncus lectus consequat sit. Sagittis, felis non ut pellentesque fermentum.
  </p>
</section>
