@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
body {
  margin-left:5%;
  margin-right:5%;
  box-sizing: border-box;
  padding: 0;
  font: 14px "EB Garamond", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.topLine {
  display:flex;
  font-weight: bold;
  font-size: 0.8em;
}
#h3-inactive {
  color: gray
}
#h3-active {
  color: black;
}
/*
##    ##    ###    ##     ##         ########     ###    ########  
###   ##   ## ##   ##     ##         ##     ##   ## ##   ##     ## 
####  ##  ##   ##  ##     ##         ##     ##  ##   ##  ##     ## 
## ## ## ##     ## ##     ## ####### ########  ##     ## ########  
##  #### #########  ##   ##          ##     ## ######### ##   ##   
##   ### ##     ##   ## ##           ##     ## ##     ## ##    ##  
##    ## ##     ##    ###            ########  ##     ## ##     ## 
*/
#top-nav-bar {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#right-bar img {
  margin:50%;
}
#bottom-nav-bar {
  position: sticky;
  bottom: 0;
  left:0;
  width: 100%;
  padding: 2% 6%;
  background-color: #F8E6DA;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#bottom-nav-bar a{
  margin-bottom: 0;
  padding-left:5%;
} 
#bottom-nav-bar p{
  margin-top: 0;
  margin-bottom: 0;
}
#right-bar{
  margin-right: 5%;
  display: flex;
  align-items: center;
}
#right-bar a{
  margin: 5%;
}
#menuToggle{
  display: block;
  position: relative;
  top: 40%;
  left: 10%;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
#menuToggle a
{
  text-decoration: none;
  color: #876857;
  transition: color 0.3s ease;
}
#menuToggle a:hover
{
  color: #7AB9C1;
}
#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #876857;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}
#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #876857;
}
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}
#menu {
  position: absolute;
  width: 300%;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #FBF0E9;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
#menu li
{
  padding: 10px 0;
  font-size: 22px;
}
#menuToggle input:checked ~ ul
{
  transform: none;
}

@media (min-width:900px) {
  #top-nav-bar {
    align-items:center;
  }

}
/*
##     ##  #######  ##     ## ######## ########     ###     ######   ######## 
##     ## ##     ## ###   ### ##       ##     ##   ## ##   ##    ##  ##       
##     ## ##     ## #### #### ##       ##     ##  ##   ##  ##        ##       
######### ##     ## ## ### ## ######   ########  ##     ## ##   #### ######   
##     ## ##     ## ##     ## ##       ##        ######### ##    ##  ##       
##     ## ##     ## ##     ## ##       ##        ##     ## ##    ##  ##       
##     ##  #######  ##     ## ######## ##        ##     ##  ######   ######## 
*/
#homepage  h2{
 text-align: center;
}
#homepage img{
  width: 100%;
  height: 50%;
}
#homepage .features {
  display:flex;
}
#homepage .features h3{
  margin:auto;
}
#homepage .features img{
  width: 50%;
}
.stars {
  display: flex;
}
.stars li {
  width: 2%;
}

#info-contact img {
  width: 5%;
}

#displayImg {
  height: 40%;
  margin: 0 auto;
  width: 40%;
}
/*
##     ##  ######  ######## ########     ########  ########   #######  ######## #### ##       ######## 
##     ## ##    ## ##       ##     ##    ##     ## ##     ## ##     ## ##        ##  ##       ##       
##     ## ##       ##       ##     ##    ##     ## ##     ## ##     ## ##        ##  ##       ##       
##     ##  ######  ######   ########     ########  ########  ##     ## ######    ##  ##       ######   
##     ##       ## ##       ##   ##      ##        ##   ##   ##     ## ##        ##  ##       ##       
##     ## ##    ## ##       ##    ##     ##        ##    ##  ##     ## ##        ##  ##       ##       
 #######   ######  ######## ##     ##    ##        ##     ##  #######  ##       #### ######## ######## 
*/
#personal-info {
  display: flex;
}
#personal-info  h3 {
  margin: 5%;
}





/*
########  ########   #######  ########  ##     ##  ######  ########  ######     ########     ###     ######   ######## 
##     ## ##     ## ##     ## ##     ## ##     ## ##    ##    ##    ##    ##    ##     ##   ## ##   ##    ##  ##       
##     ## ##     ## ##     ## ##     ## ##     ## ##          ##    ##          ##     ##  ##   ##  ##        ##       
########  ########  ##     ## ##     ## ##     ## ##          ##     ######     ########  ##     ## ##   #### ######   
##        ##   ##   ##     ## ##     ## ##     ## ##          ##          ##    ##        ######### ##    ##  ##       
##        ##    ##  ##     ## ##     ## ##     ## ##    ##    ##    ##    ##    ##        ##     ## ##    ##  ##       
##        ##     ##  #######  ########   #######   ######     ##     ######     ##        ##     ##  ######   ######## 
*/
@media (min-width:900px){
  #products-list ul {
  display: flex;
  flex-wrap: wrap;
  margin:0;
}
}
/*common with product details page*/
.productInfo {
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.productInfo .wishlist{
  margin-left: auto;
}
.product-img {
  width: 40%;
}
#heart {
  width: 5%;
  background-color:red;
  background-image: url(/images/icon/heart.png);
}

#heart:hover{
  background-color:pink;
  background-image: url(/images/icon/heart-filled.png);
}



/*

#######  ########  ########  ######## ########     ########  ######## ########    ###    #### ##        ######  
##     ## ##     ## ##     ## ##       ##     ##    ##     ## ##          ##      ## ##    ##  ##       ##    ## 
##     ## ##     ## ##     ## ##       ##     ##    ##     ## ##          ##     ##   ##   ##  ##       ##       
##     ## ########  ##     ## ######   ########     ##     ## ######      ##    ##     ##  ##  ##        ######  
##     ## ##   ##   ##     ## ##       ##   ##      ##     ## ##          ##    #########  ##  ##             ## 
##     ## ##    ##  ##     ## ##       ##    ##     ##     ## ##          ##    ##     ##  ##  ##       ##    ## 
 #######  ##     ## ########  ######## ##     ##    ########  ########    ##    ##     ## #### ########  ######  */

.txt-center {
  text-align: center;
}
.hide {
  display: none;
}

.clear {
  float: none;
  clear: both;
}

.rating {
  width: 90px;
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
  position: relative;
}

.rating > label {
  float: right;
  display: inline;
  padding: 0;
  margin: 0;
  position: relative;
  width: 1.1em;
  cursor: pointer;
  color: #000;
}

.rating > label:hover,
.rating > label:hover ~ label,
.rating > input.radio-btn:checked ~ label {
  color: transparent;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > input.radio-btn:checked ~ label:before,
.rating > input.radio-btn:checked ~ label:before {
  content: "\2605";
  position: absolute;
  left: 0;
  color: #FFD700;
}
/*
########  ########   #######  ########  ##     ##  ######  ########    ########  ######## ########    ###    #### ##        ######  
##     ## ##     ## ##     ## ##     ## ##     ## ##    ##    ##       ##     ## ##          ##      ## ##    ##  ##       ##    ## 
##     ## ##     ## ##     ## ##     ## ##     ## ##          ##       ##     ## ##          ##     ##   ##   ##  ##       ##       
########  ########  ##     ## ##     ## ##     ## ##          ##       ##     ## ######      ##    ##     ##  ##  ##        ######  
##        ##   ##   ##     ## ##     ## ##     ## ##          ##       ##     ## ##          ##    #########  ##  ##             ## 
##        ##    ##  ##     ## ##     ## ##     ## ##    ##    ##       ##     ## ##          ##    ##     ##  ##  ##       ##    ## 
##        ##     ##  #######  ########   #######   ######     ##       ########  ########    ##    ##     ## #### ########  ######  
*/
.productDetails .image {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.smallDisplay {
  margin-right: 0;
  display: flex;
  align-items: baseline;
  flex-direction: column;
}
.inactive {
  margin-left: 2%;
  margin-bottom: 1%;
  width: 100%;
}
.image .active {
  width: 75%;
}
#productName {
  font-style: normal;
  font-weight: bold;
  font-size: 2em; 
  margin-bottom: 0;
  padding-bottom: 0;
}
.productPrice, .productSize {
  margin-top: 0;
  margin-bottom: 0;
  padding:0;
}
.sub-productInfo {
  display: flex;
  flex-direction: column;
  margin-bottom:5%
}
.btn {
  margin-bottom: 2%;
  width:100%;
  height: 32px;
  border-radius: 32px;
  border-style: none;
  font-family: EB Garamond;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color:#FEFCFB;
}
.buynow {
  background-color: #987561;
}
.buynow:hover {
  background-color: #D6C8C0;
}
.addtobag {
  background-color: #7AB9C1; 
}
.addtobag:hover {
  background: #CAE3E6;
}
/*
##        #######   ######      #### ##    ##    ########     ###     ######   ######## 
##       ##     ## ##    ##      ##  ###   ##    ##     ##   ## ##   ##    ##  ##       
##       ##     ## ##            ##  ####  ##    ##     ##  ##   ##  ##        ##       
##       ##     ## ##   ####     ##  ## ## ##    ########  ##     ## ##   #### ######   
##       ##     ## ##    ##      ##  ##  ####    ##        ######### ##    ##  ##       
##       ##     ## ##    ##      ##  ##   ###    ##        ##     ## ##    ##  ##       
########  #######   ######      #### ##    ##    ##        ##     ##  ######   ######## 
*/


 .btn-blue {
    margin-bottom: 2%;
    width:50%;
    height: 32px;
    border-radius: 32px;
    border-style: none;
    font-family: EB Garamond;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color:#FEFCFB;
    background-color: #7AB9C1; 
}

.btn-blue:hover {
  background: #CAE3E6;
}

.btn-brown {
  margin-bottom: 2%;
  width:50%;
  height: 32px;
  border-radius: 32px;
  border-style: none;
  font-family: EB Garamond;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color:#FEFCFB;
  background-color: #987561; 
}

.btn-brown:hover {
background: #D6C8C0;
}

.signup i {
  margin-left: -30px;
  cursor: pointer;
  max-width: 10%;
}