@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");
body {
  margin: 5%;
  font: 14px "EB Garamond", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

li {
  list-style: none; }

a {
  text-decoration: none; }

#topLine {
  display: flex; }

#h3-inactive {
  color: gray; }

#h3-active {
  color: black; }

/*
##    ##    ###    ##     ##         ########     ###    ########  
###   ##   ## ##   ##     ##         ##     ##   ## ##   ##     ## 
####  ##  ##   ##  ##     ##         ##     ##  ##   ##  ##     ## 
## ## ## ##     ## ##     ## ####### ########  ##     ## ########  
##  #### #########  ##   ##          ##     ## ######### ##   ##   
##   ### ##     ##   ## ##           ##     ## ##     ## ##    ##  
##    ## ##     ##    ###            ########  ##     ## ##     ## 
*/
#top-nav-bar {
  width: 100%; }

#nav-bar {
  padding: 5%;
  background-color: #FCF5F0;
  display: flex;
  justify-content: space-between; }

/*
##     ##  #######  ##     ## ######## ########     ###     ######   ######## 
##     ## ##     ## ###   ### ##       ##     ##   ## ##   ##    ##  ##       
##     ## ##     ## #### #### ##       ##     ##  ##   ##  ##        ##       
######### ##     ## ## ### ## ######   ########  ##     ## ##   #### ######   
##     ## ##     ## ##     ## ##       ##        ######### ##    ##  ##       
##     ## ##     ## ##     ## ##       ##        ##     ## ##    ##  ##       
##     ##  #######  ##     ## ######## ##        ##     ##  ######   ######## 
*/
#homepage h2 {
  text-align: center; }

#homepage img {
  width: 100%;
  height: 50%; }

#homepage .features {
  display: flex; }

#homepage .features h3 {
  margin: auto; }

#homepage .features img {
  width: 50%; }

.stars {
  display: flex; }

.stars li {
  width: 2%; }

#info-contact img {
  width: 5%; }

#displayImg {
  height: 40%;
  margin: 0 auto;
  width: 40%; }

/*
##     ##  ######  ######## ########     ########  ########   #######  ######## #### ##       ######## 
##     ## ##    ## ##       ##     ##    ##     ## ##     ## ##     ## ##        ##  ##       ##       
##     ## ##       ##       ##     ##    ##     ## ##     ## ##     ## ##        ##  ##       ##       
##     ##  ######  ######   ########     ########  ########  ##     ## ######    ##  ##       ######   
##     ##       ## ##       ##   ##      ##        ##   ##   ##     ## ##        ##  ##       ##       
##     ## ##    ## ##       ##    ##     ##        ##    ##  ##     ## ##        ##  ##       ##       
 #######   ######  ######## ##     ##    ##        ##     ##  #######  ##       #### ######## ######## 
*/
#personal-info {
  display: flex; }

#personal-info h3 {
  margin: 5%; }

/*
########  ########   #######  ########  ##     ##  ######  ########  ######     ########     ###     ######   ######## 
##     ## ##     ## ##     ## ##     ## ##     ## ##    ##    ##    ##    ##    ##     ##   ## ##   ##    ##  ##       
##     ## ##     ## ##     ## ##     ## ##     ## ##          ##    ##          ##     ##  ##   ##  ##        ##       
########  ########  ##     ## ##     ## ##     ## ##          ##     ######     ########  ##     ## ##   #### ######   
##        ##   ##   ##     ## ##     ## ##     ## ##          ##          ##    ##        ######### ##    ##  ##       
##        ##    ##  ##     ## ##     ## ##     ## ##    ##    ##    ##    ##    ##        ##     ## ##    ##  ##       
##        ##     ##  #######  ########   #######   ######     ##     ######     ##        ##     ##  ######   ######## 
*/
@media (min-width: 900px) {
  #products-list ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0; } }

#products-list ul li {
  margin: 10%;
  width: 30%;
  height: 30%; }

.product-img {
  margin: 10%; }

/*

#######  ########  ########  ######## ########     ########  ######## ########    ###    #### ##        ######  
##     ## ##     ## ##     ## ##       ##     ##    ##     ## ##          ##      ## ##    ##  ##       ##    ## 
##     ## ##     ## ##     ## ##       ##     ##    ##     ## ##          ##     ##   ##   ##  ##       ##       
##     ## ########  ##     ## ######   ########     ##     ## ######      ##    ##     ##  ##  ##        ######  
##     ## ##   ##   ##     ## ##       ##   ##      ##     ## ##          ##    #########  ##  ##             ## 
##     ## ##    ##  ##     ## ##       ##    ##     ##     ## ##          ##    ##     ##  ##  ##       ##    ## 
 #######  ##     ## ########  ######## ##     ##    ########  ########    ##    ##     ## #### ########  ######  */
.txt-center {
  text-align: center; }

.hide {
  display: none; }

.clear {
  float: none;
  clear: both; }

.rating {
  width: 90px;
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
  position: relative; }

.rating > label {
  float: right;
  display: inline;
  padding: 0;
  margin: 0;
  position: relative;
  width: 1.1em;
  cursor: pointer;
  color: #000; }

.rating > label:hover,
.rating > label:hover ~ label,
.rating > input.radio-btn:checked ~ label {
  color: transparent; }

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > input.radio-btn:checked ~ label:before,
.rating > input.radio-btn:checked ~ label:before {
  content: "\2605";
  position: absolute;
  left: 0;
  color: #FFD700; }

/*# sourceMappingURL=style.css.map */