<h3 id='h3-inactive'>Home></h3><h3 id='h3-active'>Shopping cart</h3>
{{#each product}}
<div class='product-line'>
    <img src='{{pictureURL.[0]}}'>
    <h4>{{productName}}</h4>
    <p>{{price}}<br>
    {{size}}</p>
</div>
{{/each}}