

{{!-- STILL NEED TO DO HTML--}}

{{#if user}}
  <h1>Welcome, {{ user.firstName }}!</h1>
  <h2>Personal Info</h2>
<p> make sure to insert user photo </p>

<li> <a href="/myorders">My Orders</a></li>
<li> <a href="/wishlist">Wishlist</a></li>
<li><span class="logoutlink">
   <a title="Log Out" class="logoutlink-logout" href="?action=/logout">Log Out</a>
</span></li>


{{else}}
  <p>Still no logged in user, sorry!</p>
{{/if}}
