<section id='products-list'>
<ul>

{{#each allProducts}}
<li>
<a href='/products/{{_id}}'>
    <img class='product-img' src='{{pictureURL.[0]}}'>
    <h3>{{productName}}</h3>
</a>
</li>
{{/each}}
</ul>
{{#if isAdmin}}
<button><a href='/products/create'>Upload an item</a></button>
{{/if}}
</section>

